* {
    /* Removes extra spacing from all elements on the page */
    padding: 0;
    margin: 0;
}
/* Put your styles BELOW this line */
body {
    margin: 0;
}

#background{
    width: 100%;
    height: 500px;
}


.container {
    position: relative;
    height: 500px;
}

.main-content {
    background: #3761a0;
    position: absolute;
    top: 70px;
    left: 200px;
    margin: 5px;
    padding: 70px 15px 10px 15px
}

#title{
    font: rgb(0, 178, 209);
    position: absolute;
    top: 0px;
    left :10px; 
}
#about{
    font: rgb(0, 178, 209);
    position: absolute;
    top: 5px;
    left: 130px;
}
.register_buttons{
    position: absolute;
    right: 50px;
    top: 15px;
}

.searchbar{
    color: blue;
    position: absolute;
    right: -540px;
    top: 0px;
}
.jschool_nav {
    position: fixed;
    top: 0px;
    width: 100%;
    left: 0px;
}

.jschool_nav a {
    color: rgb(119, 136, 158) !important;
}
.jschool_nav a:hover {
    color: rgb(13, 72, 148) !important;
}
#logo{
    font-weight: bold;
    color : black !important;
}
.container{
    width : 200px;
    color:rgb(25, 143, 211);
    position: absolute;
    top: 100px;
    left: 450px ;
    border: dashed rgb(25, 143, 211);
    padding: 20px 20px 20px 20px;
}

#login{
    position: absolute;
    top: 100px;
    left: 100px ;
    border: dashed rgb(25, 143, 211);
    padding: 20px 20px 20px 20px;
}







