* {
    /* Removes extra spacing from all elements on the page */
    padding: 0;
    margin: 0;
    /* overflow-x: hidden; */
}
/* Put your styles BELOW this line */
.body {
    margin: 0;
}

#background{
    width: 100%;
    height: 100%;
}


.container {
    position: relative;
    height: 500px;
}

.main-content {
    position: absolute;
    top: 70px;
    left: 200px;
    margin: 5px;
    padding: 70px 15px 10px 15px
}

#title{
    font: rgb(0, 178, 209);
    position: absolute;
    top: 0px;
    left :10px; 
}

#about{
    font: rgb(0, 178, 209);
    position: absolute;
    top: 5px;
    left: 130px;
}
.register_buttons{
    position: absolute;
    right: 50px;
    top: 15px;
}

.searchbar{
    position: absolute;
    right: -50%;
    top: 0px;     
}
.jschool_nav {
    position: fixed;
    top: 0px;
    width: 100%;
    left: 0px;
}

.jschool_nav a {
    color: rgb(119, 136, 158) !important;
}
.jschool_nav a:hover {
    color: rgb(13, 72, 148) !important;
}
#logo{
    font-weight: bold;
    color : black !important;
}
.container{
    width : 200px; 
    color:rgb(25, 143, 211);
    position: absolute;
    top: 100px;
}

#login{
    background: whitesmoke;
    box-shadow: 10px 10px 20px grey;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 43% ;    
    padding: 20px 20px 20px 20px;
}

#backgroundlogin{
    width: 100%;
    height: 500px;
    height: 100%;
}

#backgroundsignup{
    width: 100%;
    height: 80%;
    -webkit-filter: blur(5px); /* Safari 6.0 - 9.0 */
    filter: blur(5px);
}

#sign_form{
    background: whitesmoke;
    box-shadow: 10px 10px 20px grey;
    border-radius: 25px;
    position: absolute;
    top: 15%;
    left: 43%;
    padding: 20px 20px 20px 20px;
}
#loginsubmit:hover{
    border-radius:50%;
}
#signupsubmit:hover{
    border-radius:50%;
}

#natinality{
    background: whitesmoke;
    box-shadow: 10px 10px 20px grey;
}

.card{
    background: whitesmoke;
    border-radius: 25%;
    margin-top: 30px !important;
}

#cardbutton:hover{
    border-radius: 50px;

}


.card-title{
    width: 270px;
    padding: 0px;
    margin: 0px !important;
}
