* {
    /* Removes extra spacing from all elements on the page */
    padding: 0;
    margin: 0;
}
/* Put your styles BELOW this line */
body {
    margin: 0;
}

.header {
    font-family: serif;
    height: 60px;
    padding:15px;
    border: 5px solid #ff6677;
}

.container {
    position: relative;
    height: 500px;
}

.sidebar {
    width: 180px;
    background: #ff6677;
    position: absolute;
    top: 70px;
    height: 100%;
    padding:70px 10px 15px 10px;
}

.main-content {
    background: #ffffcc;
    position: absolute;
    top: 70px;
    left: 200px;
    margin: 5px;
    padding: 70px 15px 10px 15px
}

#title{
    position: absolute;
    top: 0px;
    left :10px;
}
#about{
    position: absolute;
    top: 5px;
    left: 150px;
}

.register_buttons{
    position: absolute;
    right: 10px;
    top: 15px;

}