<!DOCTYPE html>
<html>
    <head>
        <title>JSchools</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.css') }}">
    </head>
    <body>
        <div class="header">
            <nav class="navbar navbar-expand-lg navbar-light bg-light jschool_nav "  >
                <a class="navbar-brand" href="#" id="logo">JSchools</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                    {%block home%}
                    <li class="nav-item active">
                    
                        <a class="nav-link" href="{{url_for('home')}}" id="home">Home <span class="sr-only">(current)</span></a>
                    </li>
                    {% if 'username' in login_session %}
                    <li class="nav-item"> 
                        <a class="nav-link" href="{{url_for('logout')}}" id="sign_btn">Log out</a>
                    </li>
                    {% else %}
                    <li class="nav-item"> 
                        <a class="nav-link" href="{{url_for('signup')}}" id="sign_btn">Sign up</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('login')}}" id="log_btn">Log in</a>
                    </li>
                    {% endif %}
                    {% endblock%}
                    <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Filters
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                              <a class="dropdown-item" href="/Israeli/nationality">Israeli</a>
                              <a class="dropdown-item" href="/Palestinian/nationality">Palestinian</a>
                              <a class="dropdown-item" href="/Music/specialty">Music</a>
                              <a class="dropdown-item" href="/Art/specialty">Art</a>
                              <a class="dropdown-item" href="/Science/specialty">Science</a>
                            </div>
                          </li>
                    </ul>
                    {% if 'id' in login_session %}
                    <a class="fa fa-user" href="{{url_for('users',username=un.username)}}"><button class="btn btn-light navbar-btn" >User</button></a>
                    {%endif%}
                    <nav class="navbar navbar-light bg-light searchbar">
                            <form class="form-inline" method="POST" action="{{ url_for('search_bar') }}">
                              <input class="form-control mr-sm-2" type="text" name="search" placeholder="Search" aria-label="Search">
                              <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><a href="{{url_for('search_bar')}}"></a>Search</a></button>
                            </form>
                          </nav>
                </div>
                </nav>
        </div>
        {% block content%}
        <img src="{{ url_for('static', filename='background_img.jpg') }}" id="background">
        <div class="body">
            <div class="main_content">
                    <div class="container">
                            <div class="row">
                                {% for school in schools %}
                                <div class="col-md-4">
                                    <div class="card" style="width: 18rem;" id = "card">
                                        <div class="card-body">
                                        <h5 class="card-title"><a href="{{url_for('school', school_id=school.id)}}" class="btn btn-primary">{{school.name}}</a></h5>
                                        <p class="card-text" id="nationality" ><strong>Nationality : </strong>{{school.nationality}}</p>
                                        <p class="card-text" id="location" ><strong>Location : </strong>{{school.location}}</p>
                                        <p class="card-text" id="language" ><strong>Language : </strong>{{school.language}}</p>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                
            </div>
        </div>
        {%endblock%}
        <script src="{{ url_for('static', filename='jquery.js') }}"></script>
        <script src="{{ url_for('static', filename='bootstrap.bundle.js') }}"></script>
    </body>
</html>
