<!DOCTYPE html>
<html>
    <head>
        <title>{{school.name}}</title>
        {% extends "home.html" %}
    </head>
    <body>
            {%block home%} 
            <li class="nav-item ">
                      
                  <a class="nav-link" href="{{url_for('home')}}" id="home">Home <span class="sr-only">(current)</span></a>
              </li>
              {% if 'username' in login_session %}
              <li class="nav-item"> 
                  <a class="nav-link" href="{{url_for('logout')}}" id="sign_btn">Log out</a>
              </li>
              {% else %}
              <li class="nav-item">
                  <a class="nav-link" href="{{url_for('signup')}}" id="sign_btn">Sign up</a>
              </li>
              <li class="nav-item ">
                  <a class="nav-link" href="{{url_for('login')}}" id="log_btn">Log in</a>
              </li>
              {% endif %}
          {%endblock%}
          {%block content%}
          <div class="profile">
              <h1>{{school.name}}</h1>
              <p><strong>Nationality:</strong>{{school.nationality}}</p>
              <p><strong>Test:</strong>{{school.test}}</p>
              <p><strong>Language:</strong>{{school.language}}</p>
              <p><strong>Location:</strong>{{school.location}}</p>
              <p><strong>Specialty:</strong>{{school.specialty}}</p>
              <p><strong>Principal:</strong>{{school.principal}}</p>
              <p><strong>Language:</strong>{{school.language}}</p>

              {% for comment in comments %}
                <p><strong>{{comment.user.first_name}} {{comment.user.last_name}}:</strong>{{comment.text}}</p>
                {%if comment.user.id==user_id %}
                    <a href="{{url_for('delete_comment', comment_id=comment.id)}}"><button>Delete</button></a>
                {% endif %}
              {% endfor %}

              <div class="widget-area no-padding blank">
                <div class="status-upload">
                    <form action="{{url_for ('school', school_id=school.id)}}" method="post" >
                        <textarea name= "text" placeholder="What are you doing right now?" ></textarea>
                        <button type="submit" class="btn btn-success green"><i class="fa fa-share"></i> Share</button>
                    </form>
                </div>
            </div>   
        </div>
          {%endblock%}
       
    </body>
</html>