<!DOCTYPE html>
<html>
    <head>
        <title>Sign Up</title>
        {% extends "home.html" %}
    </head>
    <body>
        {% block content %}
		<div class="container">
                <div class="row main">
                    <div class="main-login main-center">
                    <h5>Sign up to comment about schools!</h5>
                        <form class="forms" method="POST" action="#" id="sign_form">
                            
                            <div class="form-group">
                                <label for="name" class="cols-sm-2 control-label">First Name</label>
                                <div class="cols-sm-10">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                        <input type="text" class="form-control" name="fname" id="fname"  placeholder="Enter your Name"/>
                                    </div>
                                </div>
                            </div>
    
                            <div class="form-group">
                                <label for="email" class="cols-sm-2 control-label">Last Name</label>
                                <div class="cols-sm-10">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                        <input type="text" class="form-control" name="lemail" id="lemail"  placeholder="Enter your Email"/>
                                    </div>
                                </div>
                            </div>
    
                            <div class="form-group">
                                <label for="username" class="cols-sm-2 control-label">Username</label>
                                <div class="cols-sm-10">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
                                        <input type="text" class="form-control" name="username" id="username"  placeholder="Enter your Username"/>
                                    </div>
                                </div>
                            </div>
    
                            <div class="form-group">
                                <label for="password" class="cols-sm-2 control-label">Password</label>
                                <div class="cols-sm-10">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                                        <input type="password" class="form-control" name="password" id="password"  placeholder="Enter your Password"/>
                                    </div>
                                </div>
                            </div>
    
                            <div class="form-group">
                                <label for="confirm" class="cols-sm-2 control-label">Confirm Password</label>
                                <div class="cols-sm-10">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                                        <input type="password" class="form-control" name="confirm" id="confirm"  placeholder="Confirm your Password"/>
                                    </div>
                                </div>
                            </div>
    
                            <div class="form-group ">
                                <a href="https://ccp.cloudaccess.net/aff.php?aff=5188" target="_blank" type="button" id="button" class="btn btn-primary btn-lg btn-block login-button">Register</a>
                            </div>
                            
                        </form>
                    </div>
                </div>
            </div>
        {% endblock %}
    </body>
</html>